<% if user_signed_in? %>
	<% if message.like_user(current_user.id) %>
		<%= button_to message_like_path(message_id: message.id, id: message.likes[0].id), method: :delete, id: "likes-button", remote: true do %>
        			<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        			<small>by <strong><a href="/users/<%= current_user.id %>"><%= current_user.email %>さん</a></strong></small>
		<% end %>
	<% else %>
		<%= button_to message_likes_path(message), id: "likes-button", remote: true do %>
        		<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
		<% end %>
	<% end %>
<% else %>
	<div class="vertical_like">
      <i class="material-icons grey-text text-darken-2">favorite_border</i>
      <span class="grey-text text-darken-2">
        <%= message.likes_count %>
      </span>
    </div>
<% end %>