<header>
  <div id="contents">
      <h1 class="headline">
        <a href="/">Breakers</a>
      </h1>

      <nav>
        <ul class="nav-list">
          <li class="nav-list-item"><%= link_to "動画を投稿する", new_article_path %></li>
          <li class="nav-list-item" data-turbolinks="false"><%= link_to "場所を探す", places_path %></li>
          <li class="nav-list-item"><%= link_to "つながる", all_path %></li>
        </ul>
      </nav>
  </div>
</header>



<div class="container">
  <div class="row">
    <div class="all">
          <h1>フォロー</h1>
          <div class="col-lg-12">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="textcolor">image</th>
                    <th class="text-center textcolor">name</th>
                    <th class="text-center textcolor">email</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @user.following.each do |user| %>
                    <tr>
                      <td>
                            <%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb" %>
                      </td>
                      <td>
                         <div class="profile-container">
                            <h3 class="profile-name"><%= user.name %></h3>
                         </div>
                      </td>
                      <td>
                         <div class="profile-container">
                            <h3 class="profile-name"><%= user.email %></h3>
                         </div>
                      </td>
                      <td>
                        <%= link_to "show", user_path(user.id),:style => "color:white;"  %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
            </table>
          </div>
     </div>
  </div>
</div>

<div class="videocase">
    <video src="https://s3-ap-northeast-1.amazonaws.com/break-dancer/videoplayback8.mp4" muted autoplay loop></video>
</div>
