<header>
  <div id="contents">
      <h1 class="headline">
        <a href="/">Breakers</a>
      </h1>

      <nav>
        <ul class="nav-list">
          <li class="nav-list-item"><%= link_to "動画を投稿する", new_article_path %></li>
          <li class="nav-list-item" data-turbolinks="false"><%= link_to "場所を探す", places_path %></li>
          <li class="nav-list-item"><%= link_to "つながる", all_path %></li>
        </ul>
      </nav>
  </div>
</header>


<div class="usershow">

    <h1>User Detail</h1>

    <h3 class="userinfo">User info</h3>
    <!-- form_for部分 -->
    <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>

    <h4>name</h4>
    <h4 class="userinfo"><%= @user.name %></h4>
    <h4>email</h4>
    <h4 class="userinfo"><%= @user.email %></h4>

    <section class="stats">
      <%= render 'users/stats' %>
    </section>


    <% if @user.id == current_user.id %>
        <%= link_to "自分のチャット一覧", rooms_path , class:"btn btn-default col-xs-2"%><br>
      <% if @user.id == current_user.id %>
        <br><%= link_to '',edit_user_path(@user.id), class: "edit_user_#{@user.id} btn btn-default glyphicon glyphicon-wrench col-xs-2" %></br>
      <% else %>

        <br><%= link_to '', user_path(current_user), class: "edit_user_#{@user.id} btn btn-default btn-lg glyphicon glyphicon-wrench col-xs-1" %>

       <% end %>
    <% else %>
      <% if @isRoom == true %>
        <p class="btn btn-default col-xs-1"><a href="/rooms/<%= @roomId %>">チャットへ</a>
      <% else %>
        <%= form_for @room do |f| %>
          <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, :value=> @user.id %>
          <% end %>
          <!-- <p class="btn btn-default col-xs-1"><a href="/rooms/<%= @roomId %>">チャットへ</a> -->
          <p class="btn btn-default col-xs-0.1"><%= f.submit "チャットを始める" %></p>
        <% end %>
      <% end %>
    <% end %>

    <section>
      <%= render 'follow_form' if user_signed_in? %>
    </section>

</div>



<%# link_to "ユーザー一覧に戻る", all_path %>