<h1>ユーザー詳細</h1>

<h2><%= @user.email %></h2>

<% if @user.id == current_user.id %>
<%= link_to "自分のチャット一覧", rooms_path%>
<% else %>
  <% if @isRoom == true %>
    <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
      <% end %>
      <%= f.submit "チャットを始める" %>
    <% end %>
  <% end %>
<% end %>

<section>
  <%= render 'follow_form' if user_signed_in? %>
</section>
<section class="stats">
  <%= render 'users/stats' %>
</section>



<%# link_to "ユーザー一覧に戻る", all_path %>