<header>
  <div id="contents">
      <h1 class="headline">
        <a href="/">Breakers</a>
      </h1>

      <nav>
        <ul class="nav-list">
          <li class="nav-list-item"><%= link_to "動画を投稿する", new_article_path %></li>
          <li class="nav-list-item" data-turbolinks="false"><%= link_to "場所を探す", places_path %></li>
          <li class="nav-list-item"><%= link_to "つながる", all_path %></li>
        </ul>
      </nav>
  </div>
</header>


<div class="dm_history">
      <h1>ダイレクトメッセージの履歴</h1>
        <h3><% @anotherEntries.each do |another| %>
					     <%= link_to room_path(another.room.id) do%>
						      <p class="textcolor"><%= another.user.name %>さんとのDM<br></p>
					     <% end %>
				    <% end %>
			  </h3>
</div>


<div class="videocase">
    <video src="https://s3-ap-northeast-1.amazonaws.com/break-dancer/videoplayback5.mp4" muted autoplay loop></video>
</div>

