<h1>DM</h1>

<h4>参加者</h4>
<% @entries.each do |e| %>
  <h5><strong><a href="/users/<%= e.user.id %>"><%= e.user.email%>さん</a></strong></h5>
<% end %>

<hr>
<% if @messages.present? %>
  <% @messages.each do |m| %>
    <strong><%= m.context %></strong>

    <small>by <strong><a href="/users/<%= m.user_id %>"><%= m.user.email %>さん</a></strong></small>
    <div id="likes_button_<%= m.id %>">
       <% p "message:"%> <% p m %>
        <%= render partial: 'likes/like', locals: { message: m, likes: @likes} %>
    </div>

  <% end %>
<% else %>
    <h3 class="text-center">メッセージはまだありません</h3>
<% end %>
<hr>

<%= form_for @message do |f| %>
  <%= f.text_field :context, :placeholder => "メッセージを入力して下さい" , :size => 70 %>
  <%= f.hidden_field :room_id, :value => @room.id %>
  <br>
  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "ユーザー一覧に戻る", users_path %>


