<header>
  <div id="contents">
      <h1 class="headline">
        <a href="/">Breakers</a>
      </h1>

      <nav>
        <ul class="nav-list">
          <li class="nav-list-item"><%= link_to "動画を投稿する", new_article_path %></li>
          <li class="nav-list-item" data-turbolinks="false"><%= link_to "場所を探す", places_path %></li>
          <li class="nav-list-item"><%= link_to "つながる", all_path %></li>
        </ul>
      </nav>
  </div>
</header>


<div class="dmbox">
    <h1>ダイレクトメッセージ</h1>
    <h4 class="textcolor">参加者</h4>

    <% @entries.each do |e| %>
      <h5 class="box"><strong><a href="/users/<%= e.user.id %>"><%= e.user.email%>さん</a></strong></h5>
    <% end %>
    <!-- メッセージを送った時に非同期で行うid="cuurentcomment" -->
    <div id="cuurentcomment">
      <%= render partial: 'messages/message', locals: { messages: @messages} %>
    </div>

    <%= render partial: 'messages/form', locals: { message: @message} %>

    <p class="textcolor"><%= link_to "ユーザー一覧に戻る", all_path %></p>

</div>


<div class="videocase">
    <video src="/assets/videos/videoplayback6.mp4" muted autoplay loop></video>
</div>

