<header>
	<div id="contents">
	    <h1 class="headline">
	      <a href="/">Breakers</a>
	    </h1>


    <!-- <div id="sp-menu">
      <h1 class="lecomend"> おすすめ練習動画紹介</h1>
      <ul>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to "マイページ編集", edit_user_path(current_user) %></li>

      </ul>
    </div>
  </div>

    <div id="hm-icon">
      <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div> -->


  <nav>
    <ul class="nav-list">
      <li class="nav-list-item"><%= link_to "動画を投稿する", new_article_path %></li>
      <li class="nav-list-item" data-turbolinks="false"><%= link_to "場所を探す", places_path %></li>
      <li class="nav-list-item"><%= link_to "つながる", all_path %></li>
    </ul>
  </nav>

</header>




<div class="mapbox">
	<select id="prefecture" name="col1">
	  <option value="no">未選択</option>
	  <option value="tokyo">東京</option>
	  <option value="saitama">埼玉</option>
	  <option value="kanagawa">神奈川</option>
	</select>

	<p><button onclick="getMyPlace()">現在位置を取得</button></p>
	<div id="result"></div>
	<div id="map"></div>


	<div id ="sample"></div>
</div>


<!-- <script src="assets/javascripts/place.js"></script> -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd_8m8kd2dp3E9VtDkJ4nDRugvNJj7JZU&callback=initMap" async></script>

















