<!DOCTYPE html>
<html>
  <head>
    <title>BreakDancer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <!-- <div id="slidemenu">
    <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
    <% if user_signed_in? %>
      <li class="">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
      <li class="">
        <!-- ↓以下のコードは、5章で正しいroutingに書き直します。 -->
        <%# link_to 'マイページ', edit_user_path(@user) %>
      <!-- </li> -->
   <!--  <% end %>
    </ul>
  </div> - -->



    <%= yield %>
  </body>
</html>
